.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
}

.page-item:first-child .page-link {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.page-link {
    padding: .375rem .75rem;
}
.page-link {
    position: relative;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.pagination .active {
    color: #fff!important;;
    background-color: #0d6efd!important;
}
.page-link:active{
    background-color: rgba(0, 0, 0, 0.109);
}

.pagination .page-link-disable{
    cursor: alias;
}

.table {
    width: 100%;
}
.sorting_disabled:before {
    content: "↑";
    opacity: .3;
}
.sorting_disabled:after {
    content: "↓";
    opacity: .3;
}

.sorting_desc:after {
    opacity: 1;
}
.sorting_asc:before {
    opacity: 1;
}